

.card {
    width: 200px;
    
    display: flex;
    flex-direction: column;
    min-height: 100px;
    margin: 10px 5px;
    padding: 10px;
    box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
    border-radius: 5px;
    font-family: "Permanent Marker", cursive;
    background-color: rgb(211, 222, 231);
    
  }
  
  .card-title {
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }
  
  .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    color: #4c4c4c;
    overflow-x: auto;
    
  }

  .form-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
  
    width: 45%;
    margin-top: 3%;
  
    padding-left: 0.8%;
    padding-right: 0.8%;
    padding-top: 1%;
    padding-bottom: 1%;
  
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    border-radius: 3%;
  }
  
  .form-card-title{
    font-size: 1.2rem;
    border: none;
    text-align: left;
  }
  
  .autoresize {
    font-size: 1rem;
    border: none;
    text-align: left;
    align-items: center;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  
  .block_card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
  };

  .bt {
    position: absolute;
    left: -5%;
    bottom: 200px;
  }
  
  